### Homework 5 - Numpy arrays and data structures
### BIOINF 575 - Fall 2021

##### Total 60 points

For each each problem part provide the solution in Code cells after the description of the problem part.
Answers to questions should be written either as comments together with the code or in Markdown cell(s) for each part of the problem.

This homework will require the use of numpy arrays.

#### Arrays of different dimensions (`shape` gives the number of elements on each dimension):

<img src="https://www.oreilly.com/library/view/elegant-scipy/9781491922927/assets/elsp_0105.png" alt="data structures" width="500">  

_____

#### <b>Basic array attributes:</b>
* shape: array dimension
* size: Number of elements in array
* ndim: Number of array dimension (len(arr.shape))
* dtype: Data-type of the array
* slicing: [row_slice,col_slice]

Pandas Series a named array: 
```
pd.Series(data, index)
```

______
#### Problem 1 - Exploring time course gene expression data 
##### Identify the time interval with the most changed genes
##### 20 points

The file <b>GSE22955_small_gene_table.txt</b> contains gene expression data for about 10000 genes during treatment of breast cancer cells  with a HER2 inhibitor data was collected at every three hours for 45 hours.   
The file contains tab-separated data, has a header that contains the time points and row labels on the first column that are gene symbols.   
More details at: https://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=GSE22955


Below is code to get the data loaded into numpy array that you can use to solve the problem.

In [2]:
# This code loads the data into a 2D array

# genes on the rows time points (h) on the columns every three hours starting at 0h ending at 45h
# total of 16 time points, 17 columns with the gene symbols

import numpy as np

time_course_filename = "GSE22955_small_gene_table.txt"

# the following line uses the loadtxt function form the np library to read data from a file into an array
# it skips the first two rows one. comment row and a header rowL skiprows = 2
# it takes only columns 2 to 17 skipping the first column where we have gene symbols: usecols = range(1,17)
# help(np.loadtxt) # see function documentation
expr_matrix = np.loadtxt(time_course_filename, skiprows = 2, usecols = range(1,17))
print("Expression matrix dimensions: ", expr_matrix.shape)

time_points = 3 * np.arange(16)
print("Time points in hours: ", time_points)


# you will not need the genes symbols for this problem
# it is here to use if you want to explore the data further
# the following line of code creates an array with the gene symbols
# takes them from the first column in the file: usecols = 0
# it makes the data str, default is numeric
gene_symbols = np.loadtxt(time_course_filename, skiprows = 2, usecols = 0, dtype = str)
print("Gene symbols: ", gene_symbols)

Expression matrix dimensions:  (1175, 16)
Time points in hours:  [ 0  3  6  9 12 15 18 21 24 27 30 33 36 39 42 45]
Gene symbols:  ['ABCA1' 'ABCC11' 'ABCC3' ... 'ZNF83' 'ZNFX1' 'ZWINT']

..................................................................................................

<b>Part 1 (6 points)</b> - Count the number of genes that change between two time points 


Count the number of genes that have a change (up or down) of at least a 25% between two time points 0h and 12h (the time points are two numbers that represent hours)
- (3 points) Compute the log fold change for each gene/row 
    - the log fold change is the log 2 of the ratio between the gene expression at the two time points (expr at 12h/expr at 0h)
    - the np library has a log2 function youcan make use of
    - vectorized operations allow you to apply a funtion or an to the array or operations between arrays and it will be applied to each element of the array
    ``` python
    ```
- (3 points) Count the rows that have at least a 25% change (ratio > 1.25, up or down) in average expression between the time points
    - the log is a positive value for numbers >1 (increase in expression) and negative for numbers <1 (decrease in expression) so you can use the absolute value to capture both
    - use sum to count values for which a contition is true, for arrays the condition is applied to each value yielding a logical array (of True, which is 1 and False, which is 0) and adding  up all values from the logical array will count the number of True values

In [3]:
#Write your solution here, feel free to add new cells.

In [149]:
#Problem 1:
import numpy as np
import pandas as pd
time_course_filename = "GSE22955_small_gene_table.txt"

expr_matrix = np.loadtxt(time_course_filename, skiprows = 2, usecols = range(1,17))
time_points = 3 * np.arange(16)
gene_symbols = np.loadtxt(time_course_filename, skiprows = 2, usecols = 0, dtype = str)

#line below only will take the columns that I want. 
# column_1 = expr_matrix[:,0] -> for 0 hour 
# column_2 = expr_matrix[:,4] -> for 12 hour 



# division = column_2/column_1
# log_2 = np.log2(ratio)
#ask Cristina about this. 

# header_list = "Symbol	0	3	6	9	12	15	18	21	24	27	30	33	36	39	42	45"
# split_header = header_list.split("\t")
# index_0hr = split_header.index("0")
# index_12hr = split_header.index("12")
time_0 = 0 
time_1 = 12
time_points == 12 #will give you True or False wherever the condtion is true or false. 
np.where(time_points == 12) #will give you index where the condition is true. 

#should be more generalized with somehow incorporating 0hr and 12hr
gene_ratio = (expr_matrix[:,4]/expr_matrix[:,0])
#this will do log 2 
gene_log = np.log2(gene_ratio)
#using absolute value here to capture both positive and negative values. 
gene_abs = abs(gene_log)
gene_abs

#using panda series to include the row names. 
gene_fold = pd.Series(gene_abs, index = gene_symbols)
gene_fold

log_var = np.log2(1.25)
log_var

0.32192809488736235

In [211]:
time_0 = 0
time_1 = 12
# time_points == 12 #will give you True or False wherever the condtion is true or false. 
np.where(time_points == time_0) #will give you index where the condition is true. 
index_0 = np.where(time_points == time_0)[0][0] #or you can just divide time_o by 3. 
index_1 = np.where(time_points == time_1)[0][0]
print(index_0)
print(index_1)

0
4

In [151]:
gene_ratio = (expr_matrix[:,index_1]/expr_matrix[:,index_0])
gene_ratio
gene_log = np.log2(gene_ratio)
#using absolute value here to capture both positive and negative values. 
gene_abs = abs(gene_log)
gene_abs
#using panda series to include the row names. 
gene_fold = pd.Series(gene_abs, index = gene_symbols)
gene_fold

# log_var = np.log2(1.25)
# log_var

ABCA1     0.215636
ABCC11    0.075243
ABCC3     0.017401
ABLIM1    0.050038
ABP1      0.071269
            ...
ZNF606    0.073142
ZNF616    0.118289
ZNF83     0.118408
ZNFX1     0.110758
ZWINT     0.106496
Length: 1175, dtype: float64

In [152]:
#part #2: 
get_25 = gene_fold > log_var
value_sum = get_25.sum()
print(value_sum)

5

In [153]:
max_tuple = (time_0, time_1, value_sum)
print(max_tuple)
type(max_tuple)

(0, 12, 5)

tuple

..................................................................................................

<b>Part 2 (14 points)</b> - Identify the time interval with the most changed genes

Apply the code/approach used at Part 1 to compute the count of genes for every pair of time points and identify the pair of time points with the highest number of changed genes. 
- (6 points) Create the combination of every two (different) time points
    - You can use two for loops to create the combination of timepoints (recommended) or you can find functionality already available in python that does this 
- (6 points) Find the pair with the maximum number of genes (if they are multiple you can just find the last one) 
    - You can use the find maximum algorithm shown in one of the first sessions in the class 
- (2 points) Display the result in a nice format. You can use the following f-string:      
f"The time interval with the most, {x}, changes genes is {start_time}h - {stop_time}h"

In [154]:
#Write your solution here, feel free to add new cells.
#So does this mean every kind of different time point? so 0 hr to 3 hr or 0 hr to 6 hr? 
#use find max shown in first sessions of class. 
#Display the interval. 

#some kind of iteration here.

In [162]:
#create a "global" tuple because it is outside of the for loop. 
max_tuple = (time_0, time_1, value_sum)
# print(time_start)
#beginning of for loop
for time_start in time_points:
    for time_end in time_points:
        if time_start < time_end:
#             print(time_start, time_end)
            index_0 = np.where(time_points == time_start)[0][0] 
            index_1 = np.where(time_points == time_end)[0][0]
            gene_ratio = (expr_matrix[:,index_1]/expr_matrix[:,index_0])
            gene_log = np.log2(gene_ratio) 
            gene_abs = abs(gene_log)
            gene_fold = pd.Series(gene_abs, index = gene_symbols)
            log_var = np.log2(1.25)
            get_25 = gene_fold > log_var
            value = get_25.sum()
#             print(value)
            if value > max_tuple[2]:
# #                 time_0 = time_start
# #                 time_1 = time_end
        
                max_tuple = (time_start, time_end, value)
print(max_tuple)
# (2 points) Display the result in a nice format. You can use the following f-string:
# f"The time interval with the most, {x}, changes genes is {start_time}h - {stop_time}h"

(0, 45, 78)

In [156]:
f"The time interval with the most, {max_tuple[2]}, changes in genes is {max_tuple[0]}h - {max_tuple[1]}h."

'The time interval with the most, 5, changes in genes is 0h - 12h.'

In [157]:
del time_start #comment print in previous cell works because you defined time_start within the for loop.

In [158]:
#more examples on how to find the max based off of a starting point max value. 
x = [(1,2,3), (2,3,0), (4,3,5), (3,5,2)]
max_value = (3,5,2)
for i in x:
#     print(i)
    x_third_pos = i[2]
    max_value_third_pos = max_value[2]
    if x_third_pos > max_value_third_pos:
        max_value = i 
print(max_value)

(4, 3, 5)

In [159]:
#another example on how to find the max based off of a starting max value, where you iterate and go through a list to 
#eventually find the max value. 
x = [2,3,1,7,4]
max_value = x[0]
for i in x:
    if i > max_value:
        max_value = i 
print(max_value)

7

______

#### Problem 2 - Understand the code 
##### 10 points

Transcription networks contain a small set of recurring regulation patterns, called network motifs.
Some references about network motifs in biological networks.   
https://www.nature.com/articles/nrg2102   
https://link.springer.com/referenceworkentry/10.1007%2F978-1-4419-9863-7_463    
https://media.springernature.com/lw785/springer-static/image/prt%3A978-1-4419-9863-7%2F6/MediaObjects/978-1-4419-9863-7_6_Part_Fig1-463_HTML.gif

Feed forward loop (A) - small recurring pattern (B and C show the two parts of the FFL):   
<img src = https://www.frontiersin.org/files/Articles/222083/fphys-07-00600-HTML/image_m/fphys-07-00600-g001.jpg width = 200/><img src = "http://rulai.cshl.edu/TRED/GRN/images/Gli_mouse.png" width = 500/>



https://www.frontiersin.org/files/Articles/222083/fphys-07-00600-HTML/image_m/fphys-07-00600-g001.jpg
http://rulai.cshl.edu/TRED/GRN/Gli.htm

..................................................................................................


<b> Explain what the following code does and how it computes the result it displays.<b>

Score breakdown:
- (10 points) Explaining each statement is worth 1 point and 1 point for explaining what the function does overall

In [15]:
biological_network = {
    "Adcyap1": {"Gli1"},
    "Gli1": {"Ptch1", "Foxa2", "Myf5", "Nkx2-9", "Shh"},
    "Gli2": {"Ptch1", "Fgf15", "Foxe1", "Foxa2", "Myf5", "Gli1"},
    "Gli3": {"Ptch1", "Foxa2", "Myf5", "Gli1", "Shh"},
    "Ihh": {"Gli1"}
}

In [16]:
def compute_FFL(network):
    FFL_set = set()
    for gene in network:
        #focusing on the keys
        reg_genes = network[gene]
        for regg in reg_genes:
            for iregg in set(reg_genes).intersection(set(network.get(regg,()))):
                #get regg from the second for value/key 
                FFL_set.add((gene,regg,iregg))
    return FFL_set
            

compute_FFL(biological_network)

{('Gli2', 'Gli1', 'Foxa2'),
 ('Gli2', 'Gli1', 'Myf5'),
 ('Gli2', 'Gli1', 'Ptch1'),
 ('Gli3', 'Gli1', 'Foxa2'),
 ('Gli3', 'Gli1', 'Myf5'),
 ('Gli3', 'Gli1', 'Ptch1'),
 ('Gli3', 'Gli1', 'Shh')}

#### Write your solution here and then run the cell (Markdown)
Cell #1: You are setting a dictionary equal to the variable biological_network where keys are strings and values are sets of string values.

Cell #2:

Line 1: You are defining a function that is called compute_FFL and you are setting the parameter to be network. 

Line 2: You are creating an empty set equal to the variable FFL_set. 

Line 3: You are beginning a for loop where your variable called gene in being iterated through your parameter network. 

Line 4: You are setting a new variable called reg_genes equal to the index of where your gene is found in network. So basically it is the value of that key, which is the set. 

Line 5: You are beginning another for loop where your variable regg is iterated through reg_genes, which was the index of every gene in your parameter network. 

Line 6: You are beginning your third nested for loop where your variable iregg is iterated in the set of reg_gene varialbe, which is the value of the key in the dictionary. You then look for the intersection or common values between that reg_gene set and your value set that belongs to the key that was in your reg_gene set. You are getting that common value in the value set for the key of the reg variable. 

Line 7: You are adding to your empty set (FFL_set) your variables gene, regg, and iregg in that order. 

Line 8: You end your function by returning your FFL_set. 

Line 9: You call the function with your parameter being your biological_network dictionary. 

Overall Function Goal: Take a gene, look in that gene's key in the dictionary and see if you find a corresponding gene in the key's value. If so, go to the value for that gene's key, and compare both genes' value sets and find the intersecting values and list them in separate tuples in the returned output. 



____ double click here to edit the cell _____

_______

#### Problem 3 -  Covid-19 data analysis - try to find out what makes Dexamethasone more dangerous for some patients
##### 20 points


"COVID-19 ICU patients with the IFIH1 rs1990760 TT variant show an ameliorated inflammatory response that results in better outcomes than CC/CT variants. Dexamethasone may reverse this anti-inflammatory phenotype."   
The above is the conclusion from a recent (July 2021) study.   
The data and more details from the study can be found at the following urls:  
https://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=GSE168400
https://www.medrxiv.org/content/10.1101/2021.07.03.21259946v1

..................................................................................................

We took the read counts data from the study mentioned above and want to detect the genes that show a highchange in expression between the patients with the TT variant and the other patients.   
The counts data is in the file <b>covid_counts.txt</b>.     
The file has genes on the rows and patients/samples on the columns, the last column is the gene length in number of bases/nucleotides.

In [91]:
import numpy as np
import pandas as pd

covid_file_name = "covid_counts.txt"

# thegrouplabelsfor the data
group_labels = pd.Series(["TT", "CT", "CC", "CT", "CC", "TT", "CT", 
                         "CT", "CC", "TT", "CC", "TT", "TT", "CC", 
                         "CC", "CT", "TT", "CT", "CC", "TT", "CC", 
                         "CT", "CT", "CC", "CT", "CT", "CT", "CT", 
                         "CT", "CT", "CC", "CT", "CC", "TT", "CC", 
                         "TT", "TT", "TT", "CT", "CT", "CT", "CT"],
                       index= ['Patient1', 'Patient9', 'Patient10', 'Patient11', 'Patient12',
                               'Patient13', 'Patient14', 'Patient15', 'Patient16', 'Patient17',
                               'Patient18', 'Patient2', 'Patient19', 'Patient20', 'Patient21',
                               'Patient22', 'Patient23', 'Patient24', 'Patient25', 'Patient26',
                               'Patient27', 'Patient28', 'Patient3', 'Patient29', 'Patient30',
                               'Patient31', 'Patient32', 'Patient33', 'Patient34', 'Patient35',
                               'Patient36', 'Patient37', 'Patient4', 'Patient38', 'Patient39',
                               'Patient40', 'Patient41', 'Patient42', 'Patient5', 'Patient6',
                               'Patient7', 'Patient8'])

#  load the counts data into an array for all 42 patients
counts_matrix = np.loadtxt(covid_file_name, skiprows = 1, usecols = range(1,43))
print("Counts matrix dimensions (N genes by M patients): ", counts_matrix.shape)

# gene length (median length of all its mature, mRNA, transcripts) in number of base pairs 
# we transform the data in kilo base by dividing by 1000
gene_length_array = np.loadtxt(covid_file_name, skiprows = 1, usecols = 43)/1000
gene_symbol_array = np.loadtxt(covid_file_name, skiprows = 1, usecols = 0, dtype = str)

gene_data = pd.Series(gene_length_array, index = gene_symbol_array)
print("Gene length data (in kb): \n", gene_data)

counts_matrix
gene_length_array

Counts matrix dimensions (N genes by M patients):  (17624, 42)
Gene length data (in kb):
 "A1BG"       1.7720
"A1CF"       2.1480
"A2M"        4.6890
"A2ML1"      5.2220
"A4GALT"     2.0940
             ...
"ZYG11A"     4.2850
"ZYG11B"     8.1540
"ZYX"        2.3125
"ZZEF1"     11.4490
"ZZZ3"       4.3370
Length: 17624, dtype: float64

array([ 1.772 ,  2.148 ,  4.689 , ...,  2.3125, 11.449 ,  4.337 ])

In [92]:
gene_symbol_array.shape

(17624,)

In [93]:
gene_length_array.shape

(17624,)

In [94]:
counts_matrix.shape

(17624, 42)



..................................................................................................

<b>Part 1 (5 points)</b> - Compute TPM 

Before we can compute the difference between the TT and the other phenotype we should quatify the expression value, we will use the TPM (Transcripts Per Kilobase Million) measure to do that.

To compute the TPM you do:
- (<b>2 points</b>) Divide the read counts by the length of each gene in kilobases. This gives you reads per kilobase (RPK).
    - Should make the gene_length_array a column (reshape) so you can do operations (division) at the column level 
- (<b>2 points</b>) Count up all the RPK values in a sample and divide this number by 1,000,000. This is your “per million” scaling factor.
- (<b>1 point</b>) Divide the RPK values by the “per million” scaling factor. This gives you TPM.

In [167]:
gene_length_array #this gives you a 1D array which is one row with so many elements. We want one column with those many elements. 
gene_length_array.shape

(17624,)

In [168]:
# gene_length_array_2 = gene_length_array.reshape(gene_length_array.size,1)
# gene_length_array_2.shape

In [203]:
#Write your solution here, feel free to add new cells.
#This does the same thing as above, just with the number instead of the gene_length_array.size. 
gene_length_array.shape
gene_length_array_reshaped = gene_length_array.reshape(17624,1)
gene_length_array_reshaped
# gene_length_array_reshaped.shape

RPK_values = counts_matrix/gene_length_array_reshaped
# type(RPK_values)
RPK_values.shape
#this is an array 

# valuessum = RPK_values
# valuessum

(17624, 42)

In [207]:
RPK_sum = RPK_values.sum()
RPK_sum

204325443.1719634

In [208]:
final_scal = RPK_sum/1000000
final_scal

204.3254431719634

In [175]:
RPK_values_dataframe = pd.DataFrame(data = RPK_values)
RPK_values_dataframe
#putting values in a dataframe.

,0,1,2,3,4,5,6,7,8,9,...,32,33,34,35,36,37,38,39,40,41
0,1.693002,1.693002,7.336343,5.643341,4.514673,6.207675,12.415350,0.000000,0.564334,1.693002,...,2.257336,9.029345,2.821670,0.000000,7.336343,2.257336,1.693002,1.128668,2.257336,4.514673
1,0.000000,0.000000,0.000000,0.000000,0.465549,0.465549,0.000000,0.000000,0.000000,0.465549,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.000000,1.279591,1.279591,0.853060,0.000000,0.426530,0.000000,6.184688,0.639795,0.639795,...,0.000000,0.000000,0.000000,0.000000,0.213265,0.426530,0.213265,0.000000,2.772446,0.639795
3,0.382995,0.000000,0.191498,0.574493,0.574493,0.382995,0.191498,0.000000,0.000000,0.191498,...,0.000000,0.574493,0.765990,0.382995,0.574493,0.191498,0.382995,0.000000,0.574493,0.000000
4,0.000000,0.000000,0.000000,1.432665,0.477555,3.820439,3.820439,0.477555,0.000000,0.000000,...,0.477555,0.955110,3.820439,0.477555,0.000000,0.000000,0.477555,0.000000,1.432665,0.477555
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17619,1.866978,3.267211,3.500583,2.333722,4.900817,5.600933,9.334889,1.400233,1.866978,0.933489,...,2.800467,3.967328,6.067678,6.067678,10.268378,3.033839,3.033839,3.500583,4.434072,2.100350
17620,20.358106,25.876870,16.188374,18.273240,13.490312,16.556291,15.084621,16.311013,22.075055,25.754231,...,25.876870,15.207260,20.112828,17.782683,18.027962,20.112828,16.678931,14.961982,20.848663,18.886436
17621,1584.864865,2945.297297,1830.054054,3260.108108,1241.945946,1166.270270,1693.405405,2859.675676,1662.270270,3340.972973,...,1866.378378,952.216216,1162.378378,1647.567568,1202.594595,3449.081081,2208.864865,898.594595,3887.567568,1016.648649
17622,36.859114,65.595248,34.413486,46.991004,25.067692,25.941130,35.024893,71.359944,61.228055,56.511486,...,43.147873,29.871605,51.096166,62.014150,45.593502,53.716482,39.654118,28.299415,55.026640,41.138964
17623,9.453539,17.754208,15.909615,20.982246,11.298132,19.137653,18.445930,69.172239,47.498271,28.130044,...,31.358082,13.142725,19.598801,19.598801,15.909615,14.987318,27.899470,26.977173,17.754208,52.109753

In [179]:
RPK_real_sum = RPK_values_dataframe.sum()
RPK_real_sum

0     3.737677e+06
1     3.663875e+06
2     3.656148e+06
3     4.622665e+06
4     4.341615e+06
5     5.217481e+06
6     5.243704e+06
7     5.395328e+06
8     5.467460e+06
9     4.590804e+06
10    5.030903e+06
11    7.797163e+06
12    5.177077e+06
13    6.776149e+06
14    5.733708e+06
15    5.754934e+06
16    4.192604e+06
17    2.709181e+06
18    2.637149e+06
19    5.098205e+06
20    6.191517e+06
21    5.479956e+06
22    5.008046e+06
23    5.990210e+06
24    4.360611e+06
25    4.055595e+06
26    3.739412e+06
27    3.643908e+06
28    5.247223e+06
29    7.680379e+06
30    5.256261e+06
31    2.628549e+06
32    4.335472e+06
33    2.745889e+06
34    4.808920e+06
35    5.703400e+06
36    5.133438e+06
37    4.397216e+06
38    5.267491e+06
39    5.813046e+06
40    5.389168e+06
41    4.605905e+06
dtype: float64

In [199]:
rpk_scal_fac = RPK_real_sum/1000000
type(rpk_scal_fac)
rpk_scal_fac

# RPK_scal_fac_array = rpk_real_scal_fac.to_numpy()
# type(RPK_scal_fac_array)
# RPK_scal_fac_array.shape



# labels_array = group_labels.to_numpy()

0     3.737677
1     3.663875
2     3.656148
3     4.622665
4     4.341615
5     5.217481
6     5.243704
7     5.395328
8     5.467460
9     4.590804
10    5.030903
11    7.797163
12    5.177077
13    6.776149
14    5.733708
15    5.754934
16    4.192604
17    2.709181
18    2.637149
19    5.098205
20    6.191517
21    5.479956
22    5.008046
23    5.990210
24    4.360611
25    4.055595
26    3.739412
27    3.643908
28    5.247223
29    7.680379
30    5.256261
31    2.628549
32    4.335472
33    2.745889
34    4.808920
35    5.703400
36    5.133438
37    4.397216
38    5.267491
39    5.813046
40    5.389168
41    4.605905
dtype: float64

In [183]:
#this is what I want
TPM_test = RPK_values_dataframe/rpk_scal_fac
TPM_test

,0,1,2,3,4,5,6,7,8,9,...,32,33,34,35,36,37,38,39,40,41
0,0.452956,0.462080,2.006577,1.220798,1.039860,1.189784,2.367668,0.000000,0.103217,0.368781,...,0.520667,3.288314,0.586758,0.000000,1.429129,0.513356,0.321406,0.194161,0.418865,0.980192
1,0.000000,0.000000,0.000000,0.000000,0.107230,0.089229,0.000000,0.000000,0.000000,0.101409,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.000000,0.349245,0.349983,0.184539,0.000000,0.081750,0.000000,1.146304,0.117019,0.139365,...,0.000000,0.000000,0.000000,0.000000,0.041544,0.097000,0.040487,0.000000,0.514448,0.138908
3,0.102469,0.000000,0.052377,0.124277,0.132322,0.073406,0.036520,0.000000,0.000000,0.041713,...,0.000000,0.209219,0.159285,0.067152,0.111912,0.043550,0.072709,0.000000,0.106601,0.000000
4,0.000000,0.000000,0.000000,0.309922,0.109995,0.732238,0.728576,0.088513,0.000000,0.000000,...,0.110151,0.347833,0.794448,0.083732,0.000000,0.000000,0.090661,0.000000,0.265842,0.103683
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17619,0.499502,0.891737,0.957451,0.504843,1.128800,1.073494,1.780209,0.259527,0.341471,0.203339,...,0.645943,1.444824,1.261755,1.063870,2.000293,0.689945,0.575955,0.602194,0.822775,0.456012
17620,5.446727,7.062706,4.427713,3.952966,3.107211,3.173234,2.876711,3.023174,4.037534,5.609960,...,5.968640,5.538191,4.182400,3.117909,3.511869,4.573991,3.166390,2.573862,3.868624,4.100483
17621,424.024032,803.875035,500.541570,705.244275,286.056226,223.531275,322.940700,530.028134,304.029710,727.753276,...,430.490240,346.778809,241.712967,288.874621,234.266890,784.378323,419.339100,154.582391,721.366896,220.727244
17622,9.861503,17.903246,9.412498,10.165349,5.773817,4.971964,6.679419,13.226247,11.198629,12.309713,...,9.952290,10.878663,10.625289,10.873189,8.881670,12.216020,7.528085,4.868259,10.210600,8.931788
17623,2.529255,4.845747,4.351469,4.538993,2.602288,3.667987,3.517729,12.820766,8.687447,6.127476,...,7.232911,4.786327,4.075510,3.436336,3.099212,3.408365,5.296539,4.640798,3.294425,11.313685

In [184]:
TPM_real = TPM_test.to_numpy()
TPM_real
# type(TPM_real)

array([[4.52955744e-01, 4.62079753e-01, 2.00657718e+00, ...,
        1.94161222e-01, 4.18865443e-01, 9.80192383e-01],
       [0.00000000e+00, 0.00000000e+00, 0.00000000e+00, ...,
        0.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [0.00000000e+00, 3.49245179e-01, 3.49983243e-01, ...,
        0.00000000e+00, 5.14447875e-01, 1.38907622e-01],
       ...,
       [4.24024032e+02, 8.03875035e+02, 5.00541570e+02, ...,
        1.54582391e+02, 7.21366896e+02, 2.20727244e+02],
       [9.86150342e+00, 1.79032462e+01, 9.41249807e+00, ...,
        4.86825897e+00, 1.02105997e+01, 8.93178798e+00],
       [2.52925530e+00, 4.84574666e+00, 4.35146908e+00, ...,
        4.64079791e+00, 3.29442452e+00, 1.13136847e+01]])

In [124]:
# TPM_real = RPK_data_frame/RPK_real_sum
# TPM_real

In [107]:
# RPK_sum = RPK_values.sum()
# RPK_sum
# RPK_scaling_fac = RPK_sum/1000000
# RPK_scaling_fac
# (2 points) Count up all the RPK values in a sample and divide this number by 1,000,000. 
#This is your “per million” scaling factor.

In [108]:
# #(1 point) Divide the RPK values by the “per million” scaling factor. This gives you TPM.
# TPM = RPK_values/RPK_scaling_fac
# TPM



..................................................................................................

<b>Part 2 (15 points)</b> - Identify changed genes  

Identify the genes with the highest difference (>2 log 2 fold change) between the TT and the other phenotypes.

To identify these genes:
- (<b>3 points</b>) Separate the TPM matrix in two matrices select the columns for the TT group in one matrix and the columns for the other groups in another matrix 
    - Use the `group_labels` Series, select from the TPM matrix only columns that have `group_labels == "TT"` for one group and `group_labels != "TT"` for the other group
- (<b>3 points</b>) Compute the mean value for each in gene in the two groups
    - Apply the mean method for each row in the two matrices to result in two one dimensional arrays that have the average TPM for each gene
- (<b>3 points</b>) Take the log 2 of the ratio between the mean in the TT and non TT groups
    - Call the log2 method from the np library on the ratio between the two arrays computed at the previous step
    - You will get a warning because of division by 0 and na.inf values will be created
- (<b>3 points</b>) Create a named array (Series) with the log2FC and the gene symbols
    - Create a pandas Series using the array created at the previous step (lo2FC) as the values and the `gene_symbol_array` as the index
- (<b>3 points</b>) Select the genes with the highest difference (>3 log 2 fold change) between the TT and the other phenotypes
    - From the above Series select only the elements with an absolute value >2 and that are not na.inf

In [185]:
TPM_real.shape

(17624, 42)

In [186]:
#Write your solution here, feel free to add new cells.
#part 1 
group_labels
# group_1 = np.where(group_labels == "TT")
# group_1_again = np.asarray(group_1)
# group_1_again

Patient1     TT
Patient9     CT
Patient10    CC
Patient11    CT
Patient12    CC
Patient13    TT
Patient14    CT
Patient15    CT
Patient16    CC
Patient17    TT
Patient18    CC
Patient2     TT
Patient19    TT
Patient20    CC
Patient21    CC
Patient22    CT
Patient23    TT
Patient24    CT
Patient25    CC
Patient26    TT
Patient27    CC
Patient28    CT
Patient3     CT
Patient29    CC
Patient30    CT
Patient31    CT
Patient32    CT
Patient33    CT
Patient34    CT
Patient35    CT
Patient36    CC
Patient37    CT
Patient4     CC
Patient38    TT
Patient39    CC
Patient40    TT
Patient41    TT
Patient42    TT
Patient5     CT
Patient6     CT
Patient7     CT
Patient8     CT
dtype: object

In [187]:
#convert this panda series to an array. I didn't want the index I wanted the data. 
#and I didn't know how to do that with a Series. Series would not run with the same 
#methods as an array/matrix. So I converted it to an array. 

labels_array = group_labels.to_numpy()
labels_array.shape

(42,)

In [188]:
labels_array == "TT"

array([ True, False, False, False, False,  True, False, False, False,
        True, False,  True,  True, False, False, False,  True, False,
       False,  True, False, False, False, False, False, False, False,
       False, False, False, False, False, False,  True, False,  True,
        True,  True, False, False, False, False])

In [189]:
labels_array != "TT"

array([False,  True,  True,  True,  True, False,  True,  True,  True,
       False,  True, False, False,  True,  True,  True, False,  True,
        True, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True, False,  True, False,
       False, False,  True,  True,  True,  True])

In [190]:
group_TT = TPM_real[:, labels_array == "TT"]
group_TT.shape

(17624, 11)

In [191]:
group_other = TPM_real[:, labels_array != "TT"]
group_other.shape

(17624, 31)

In [192]:
#part 2:
#I want to use index of 1 to take the mean for each row. 
mean_group_TT = group_TT.mean(1)
mean_group_TT
# mean_group_TT.ndim

array([1.02615289e+00, 1.73307138e-02, 9.89584823e-02, ...,
       4.75339633e+02, 1.13895720e+01, 5.84545451e+00])

In [193]:
mean_group_other = group_other.mean(1)
mean_group_other
# mean_group_other.ndim

array([1.04659568e+00, 1.87447736e-02, 1.63160251e-01, ...,
       4.59357564e+02, 1.09529395e+01, 6.81535339e+00])

In [194]:
#part 3
# (3 points) Take the log 2 of the ratio between the mean in the TT and non TT groups
# Call the log2 method from the np library on the ratio between the two arrays computed at the previous step
# You will get a warning because of division by 0 and na.inf values will be created

group_ratio = mean_group_TT/mean_group_other
group_log2FC = np.log2(group_ratio)
group_log2FC

<ipython-input-194-f32efae1ec9c>:6: RuntimeWarning: divide by zero encountered in true_divide
  group_ratio = mean_group_TT/mean_group_other
<ipython-input-194-f32efae1ec9c>:6: RuntimeWarning: invalid value encountered in true_divide
  group_ratio = mean_group_TT/mean_group_other
<ipython-input-194-f32efae1ec9c>:7: RuntimeWarning: divide by zero encountered in log2
  group_log2FC = np.log2(group_ratio)

array([-0.0284585 , -0.11315733, -0.72139435, ...,  0.04934111,
        0.05639543, -0.22147326])

In [195]:
#take the absolute value of group_log2FC
group_log2FC_abs = abs(group_log2FC)
group_log2FC_abs

array([0.0284585 , 0.11315733, 0.72139435, ..., 0.04934111, 0.05639543,
       0.22147326])

In [196]:
#part 4
#create a named array (Series) with the log2FC and the gene symbols 
#Use array created at the previous step (log2FC) as the values and the gene_symbol_array as the index. 
log2FC_series = pd.Series(data = group_log2FC_abs, index = gene_symbol_array)
log2FC_series

"A1BG"      0.028458
"A1CF"      0.113157
"A2M"       0.721394
"A2ML1"     0.016965
"A4GALT"    0.574728
              ...
"ZYG11A"    0.018575
"ZYG11B"    0.139453
"ZYX"       0.049341
"ZZEF1"     0.056395
"ZZZ3"      0.221473
Length: 17624, dtype: float64

In [197]:
#part 5
#need to select the genes with the highest difference between the TT and the other phenotypes. 
#from the above series select only the elements with an absolute value >2 and that are not na.inf
log2FC_series[(log2FC_series > 2) & (log2FC_series != np.inf)]

"ABCC6P1"     2.400189
"ABRA"        2.268561
"ACSBG2"      2.321102
"ADAMTS19"    2.021450
"ADARB2"      2.410965
                ...
"ZBBX"        2.396594
"ZNF48"       2.080803
"ZNF648"      2.882104
"ZNF705D"     2.165953
"ZP1"         2.174154
Length: 251, dtype: float64

In [209]:
#definitely not the correct one since there is still genes that have infinity. 
#looked up 
# log2FC_series[(log2FC_series > 2)]

In [210]:
# log2FC_series[(log2FC_series > 2) & (log2FC_series != np.nan)]


____
#### Problem 4 - Understand the code 
##### 10 points

Explain what the following code does and how it computes the result it displays.

Score breakdown:
- <b>(4 points)</b> Explaining the function: each statement is worth 0.5 points 
- <b>(6 points)</b> Explaining the code in the second cell: each statement is worth 1 point

In [10]:
def update_network(gene1, gene2, network):  
    if gene1 in network:
        if gene2 in network[gene1]:
            print(gene1, "->", gene2, "link already there.")
        else: 
            network[gene1].add(gene2)
            print("Added ", gene1, "->", gene2, "link.")
    else:
        network[gene1] = {gene2}
        print("Added ", gene1, "->", gene2, "link.")
    return network # this is not necessary, the dictionary will be updated no need to return it

In [11]:
# network - might want to use this to reset the network while you test the code

test_network = {
    "Adcyap1": {"Gli1"},
    "Gli1": {"Ptch1", "Foxa2", "Myf5", "Nkx2-9", "Shh"},
    "Gli2": {"Ptch1", "Fgf15", "Foxe1", "Foxa2", "Myf5", "Gli1"},
    "Gli3": {"Ptch1", "Foxa2", "Myf5", "Gli1", "Shh"},
    "Ihh": {"Gli1"}
}

ntw_edges = (("Ihh", "Shh"), ("Gli3", "Shh"), ("Ext1", "Ihh"))
for link in ntw_edges:
    gene1, gene2 = link
    update_network(gene1, gene2, test_network)
test_network

Added  Ihh -> Shh link.
Gli3 -> Shh link already there.
Added  Ext1 -> Ihh link.

{'Adcyap1': {'Gli1'},
 'Gli1': {'Foxa2', 'Myf5', 'Nkx2-9', 'Ptch1', 'Shh'},
 'Gli2': {'Fgf15', 'Foxa2', 'Foxe1', 'Gli1', 'Myf5', 'Ptch1'},
 'Gli3': {'Foxa2', 'Gli1', 'Myf5', 'Ptch1', 'Shh'},
 'Ihh': {'Gli1', 'Shh'},
 'Ext1': {'Ihh'}}

In [32]:
test_map = {"ac": [1, "a"], "b": 2, "c": 3}
"a" in test_map
# 1 in test_map

False

In [33]:
for i in test_map:
    print(i)
    #goes through the keys in dict

ac
b
c

In [34]:
for i in test_map.keys():
    print(i)

ac
b
c

In [35]:
for i in test_map.values():
    print(i)

[1, 'a']
2
3

In [36]:
for i in test_map.items():
    print(i)
    #gives a tuple of 2, first position = keys, second posistion = value

('ac', [1, 'a'])
('b', 2)
('c', 3)

In [37]:
test_map.items()
#gives them all together, but with a for loop due to iteration it gives you them individually.

dict_items([('ac', [1, 'a']), ('b', 2), ('c', 3)])

In [38]:
for i in test_map:
    for j in test_map[i]:
        print(i, j)

ac 1
ac a

TypeError: 'int' object is not iterable

In [39]:
for j in 2:
    print(j)

TypeError: 'int' object is not iterable

In [ ]:
#all value are sets so they are iterable.

In [40]:
if "x" in test_map["b"]:
    print("done")

TypeError: argument of type 'int' is not iterable

In [41]:
3 in 2 #error message because no NO ITERABLE because no list, or no tuple, or set or dictionary, just one int.

TypeError: argument of type 'int' is not iterable

In [42]:
3 in [1,3,4] #list

True

In [45]:
3 in (1, 3, 4) #list so it works for tuple

True

#### Write your solution here and then run the cell (Markdown)
Explaining function:

Line 1: Defining the function update_network with three parameters: gene1, gene2, and network. 

Line 2: Beginning an if statement saying if your variable gene1 is in the network. 

Line 3: Another if statement saying if gene2 is in the value set for the gene1 key in the dictionary. 

Line 4: Then print in this order the variable gene1, the string arrow, variable gene2, and finally the string "link already here."

line 5: The else part for the nested if statement or most recent if statement. 

Line 6: Take the value set of the gene1 key and add the value for gene2 to the value set. 

Line 7: Then print the in this order "Added ", gene1, "->", gene2, "link."

Line 8: The else part of the first if statement in the function. 

Line 9: Take gene1 and create a key and set gene2 equal to the key's value to be added to the existing dictionary.  

Line 10: Then print in this order "Added ", gene1, "->", gene2, "link."

Line 11: Return only your parameter network. 


Code in second cell:

Line 1: Setting your nested dictionary equal to the variable test_network. 

Line 2: Setting a new variable called ntw_edges equal to a list of tuples of string values. 

Line 3: Beginning of a for loop where your variable link is iterated through your list of tuples called ntw_edges. 

Line 4: Have your two parameters in your function gene1 and gene2 equal to your variable link which is iterated through your list of tuples. 

Line 5: Call your function update_network and give it your three parameters: gene1, gene2, and test_network. 

Line 6: Return your test_network with the added string value for the value set for the key "Ihh" as well as the new key and value set for "Ext1" and "Ihh". 









____ double click here to edit the cell _____

In [ ]:
# np.seed() use any number you like to use as a starting point

In [ ]:
# np.random.random()

In [ ]:
# np.random.randn()

_______
_______